[submodule "third_party/e2e"]
	path = third_party/e2e
	url = https://github.com/test-time-training/e2e.git
[submodule "third_party/ttt-lm-pytorch"]
	path = third_party/ttt-lm-pytorch
	url = https://github.com/test-time-training/ttt-lm-pytorch.git
[submodule "third_party/In-Place-TTT"]
	path = third_party/In-Place-TTT
	url = https://github.com/ByteDance-Seed/In-Place-TTT.git
[submodule "third_party/KataGo"]
	path = third_party/KataGo
	url = https://github.com/lightvector/KataGo.git
